node_modules
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.vscode/
.idea/
*.swp
*.swo
*.log
npm-debug.log*
coverage/
.env
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.db
*.db-journal
*.db-wal
*.db-shm
